.contenedor-nav {
    margin-bottom: 40px;
}

.Contenedor-Principal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
header {
    padding: 5px;
    text-align: center;
    background-color:rgb(26, 26, 26);
    color: white;
}